#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

section {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back figure {
        display: flex;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.5rem;
        border: 0;
        outline: 0;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--text-primary);

        &:hover {
            border: 1px solid var(--surface-disabled);
        }

        &:focus {
            border: 1px solid var(--text-primary);
        }
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    padding: 4rem;
    background-color: var(--surface-secondary);

    & .aside-container {
        max-width: 31rem;

        &>img {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;

        & span {
            color: var(--text-highlight);
        }
    }
}

@media (max-width: 768px) {

    #app {
        grid-template-columns: 1fr;
        overflow-y: auto;
    }

    main {
        padding: 1.5rem;
        overflow: initial;

        & .main-container {
            /* max-width: 19.5rem; */
            margin-left: initial;
            margin-inline: auto;
        }

        & h1 {
            font: 600 1.5rem/1.25 var(--font-family);
            margin-bottom: .5rem;
            white-space: nowrap;
        }
    }

    aside {
        order: -1;
        padding: 4rem 1.5rem 1.5rem 1.5rem;

        & .aside-container {

            &>header {
                text-align: center;
            }

            margin-inline: auto;

            &>img {
                margin-top: .5rem;
            }
        }


        & h2 {
            display: none;
        }

        & p {
            display: none;
        }
    }
}
